
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff5f5; 
    color: #222222;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}


h1, h2, h3 {
    color: #b30000;
    border-bottom: 2px dashed #ffcccc; 
    padding-bottom: 5px;
}


section {
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 25px;
    border-top: 4px solid #b30000;
    border-radius: 0; 
    box-shadow: 2px 2px 8px rgba(179, 0, 0, 0.15);
}

header {
    text-align: center;
    margin-bottom: 30px;
}


img {
    width: 200px;
    border-radius: 0; /* Квадратне фото */
    border: 5px double #b30000; 
    margin-top: 10px;
}


a {
    color: #cc0000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #ff0000;
    background-color: #ffe6e6;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #555555;
}